<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../js/jquery/jquery.min-2.1.4.js"></script>
    <script type="text/javascript" src="../js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/startup.js"></script>
</head>
<body>
    <section class="w-section mobile-wrapper">
        <div class="page-content" id="main-stack">
            <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
                <div class="w-container">
                    <nav class="w-nav-menu nav-menu bg-gradient" role="navigation">
                        <div class="nav-menu-header">
                            <div class="logo">Kolay Namaz Hocası</div>
                        </div>
                        <div class="w-dropdown dropdown-container" data-delay="0">
                            <div class="w-dropdown-toggle w-clearfix nav-menu-link dropdown">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-home-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Abdest</div>
                                <div class="w-icon-dropdown-toggle dropdown-icon"></div>
                            </div>
                            <nav class="w-dropdown-list drop-down-list" id="navLeftMenuAbdest">
                            </nav>
                        </div>
                        <div class="w-dropdown dropdown-container" data-delay="0">
                            <div class="w-dropdown-toggle w-clearfix nav-menu-link dropdown">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-home-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Namaz</div>
                                <div class="w-icon-dropdown-toggle dropdown-icon"></div>
                            </div>
                            <nav class="w-dropdown-list drop-down-list" id="navLeftMenuNamaz">
                            </nav>
                        </div>
                        <div class="w-dropdown dropdown-container" data-delay="0">
                            <div class="w-dropdown-toggle w-clearfix nav-menu-link dropdown">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-home-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Dualar</div>
                                <div class="w-icon-dropdown-toggle dropdown-icon"></div>
                            </div>
                            <nav class="w-dropdown-list drop-down-list" id="navLeftMenuDualar">
                            </nav>
                        </div>
                        <div class="separator-bottom"></div>
                        <div class="separator-bottom"></div>
                        <div class="separator-bottom"></div>
                    </nav>
                    <div class="wrapper-mask" data-ix="menu-mask"></div>
                    <div class="navbar-title">Title</div>
                    <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
                        <div class="navbar-button-icon home-icon">
                            <div class="bar-home-icon top"></div>
                            <div class="bar-home-icon middle"></div>
                            <div class="bar-home-icon bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="home-content">
                </div>
            </div>
        </div>
        <div class="page-content loading-mask" id="new-stack">
            <div class="loading-icon">
                <div class="navbar-button-icon icon ion-load-d"></div>
            </div>
        </div>
    </section>
</body>
</html>