<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../js/jquery/jquery.min-2.1.4.js"></script>
    <script type="text/javascript" src="../js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/startup.js"></script>
</head>
<body>
    <section class="w-section mobile-wrapper">
        <div class="page-content" id="main-stack">
            <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
                <div class="w-container">
                    <nav class="w-nav-menu nav-menu bg-gradient" role="navigation">
                        <div class="nav-menu-header">
                            <div class="logo">Kolay Namaz Hocası</div>
                        </div>
                        <div class="w-dropdown dropdown-container" data-delay="0">
                            <div class="w-dropdown-toggle w-clearfix nav-menu-link dropdown">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-home-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Abdest</div>
                                <div class="w-icon-dropdown-toggle dropdown-icon"></div>
                            </div>
                            <nav class="w-dropdown-list drop-down-list" id="navLeftMenuAbdest">
                            </nav>
                        </div>
                        <div class="w-dropdown dropdown-container" data-delay="0">
                            <div class="w-dropdown-toggle w-clearfix nav-menu-link dropdown">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-home-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Namaz</div>
                                <div class="w-icon-dropdown-toggle dropdown-icon"></div>
                            </div>
                            <nav class="w-dropdown-list drop-down-list" id="navLeftMenuNamaz">
                            </nav>
                        </div>
                        <div class="w-dropdown dropdown-container" data-delay="0">
                            <div class="w-dropdown-toggle w-clearfix nav-menu-link dropdown">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-home-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Dualar</div>
                                <div class="w-icon-dropdown-toggle dropdown-icon"></div>
                            </div>
                            <nav class="w-dropdown-list drop-down-list" id="navLeftMenuDualar">
                            </nav>
                        </div>
                        <div class="separator-bottom"></div>
                        <div class="separator-bottom"></div>
                        <div class="separator-bottom"></div>
                    </nav>
                    <div class="wrapper-mask" data-ix="menu-mask"></div>
                    <div class="navbar-title">Kolay Namaz Hocası</div>
                    <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
                        <div class="navbar-button-icon home-icon">
                            <div class="bar-home-icon top"></div>
                            <div class="bar-home-icon middle"></div>
                            <div class="bar-home-icon bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="home-content">
                    <div class="text-new grey n-b-b">
                        <h2 class="title-new">Latest News</h2>
                        <div class="separator-fields"></div>
                        <p class="description-new">Access all news easily and instantaneously by taking advantage of this template. It is simple and easy to use and has a slider with an automatic sliding feature. It’s never been easier to access all the latest news!</p>
                    </div>
                    <div class="w-slider news-slider grey" data-animation="slide" data-duration="500" data-infinite="1" data-delay="2000" data-autoplay="1" data-nav-spacing="4">
                        <div class="w-slider-mask">
                            <div class="w-slide">
                                <a class="w-inline-block link-blog-list" href="blog-post.html" data-load="1">
                                    <div class="image-new"></div>
                                    <div class="text-new">
                                        <h2 class="title-new">Look how great it looks</h2>
                                        <p class="description-new">We have chosen a great font for you even though you can choose from a wide range of options. We have built this theme for you so it's easier to do anything you want. That's why it is ready to change to one of 500+ Google Fonts which will make your page stand out.</p><a class="category-link" href="#">PRODUCTIVITY</a><a class="category-link" href="#">BUSINESS</a>
                                    </div>
                                </a>
                            </div>
                            <div class="w-slide">
                                <a class="w-inline-block link-blog-list" href="blog-post.html" data-load="1">
                                    <div class="image-new bg1"></div>
                                    <div class="text-new">
                                        <h2 class="title-new">Mobile website or mobile app? Now you can have both!</h2>
                                        <p class="description-new">A HTML5 mobile template that will help you create a mobile website, a mobile web app, or a native app integrated with solutions like phonegap and Cordova. We have thought about you and created dozens of elements...</p><a class="category-link" href="#">PRODUCTIVITY</a><a class="category-link" href="#">BUSINESS</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="w-slider-arrow-left">
                            <div class="w-icon-slider-left news-arrows left"></div>
                        </div>
                        <div class="w-slider-arrow-right">
                            <div class="w-icon-slider-right news-arrows right"></div>
                        </div>
                        <div class="w-slider-nav w-round news-slidenav"></div>
                        <div class="separator-button-input"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content loading-mask" id="new-stack">
            <div class="loading-icon">
                <div class="navbar-button-icon icon ion-load-d"></div>
            </div>
        </div>
    </section>
</body>
</html>