<title>Kolay Namaz Hocası</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../css/normalize.css">
<link rel="stylesheet" type="text/css" href="../css/framework.css">
<link rel="stylesheet" type="text/css" href="../css/styles.css">

<link rel="shortcut icon" type="image/x-icon" href="../img/logo.ico">
<link rel="apple-touch-icon" href="../img/logo.ico">
<link href="../css/ionicons.min.css" rel="stylesheet" type="text/css" />

<script src="../js/webfont.js"></script>
<script>
        WebFont.load({
            google: {
                families: ["Montserrat:400,700"]
            }
        });
</script>
<script type="text/javascript" src="../js/modernizr.js"></script>
<script type="text/javascript" src="../js/framework.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>

<script type="text/javascript" src="cordova.js"></script>
<!--admob-->
<script>
        (function () {
            if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(
                  document.createTextNode("@-ms-viewport{width:auto!important}")
                );
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        })();
</script>

<!--admob-->
<script src="../js/admobOptions.js"></script>
