
<a class="w-clearfix w-inline-block nav-menu-link" href="splash.html" data-load="1">
    <div class="icon-list-menu">
        <div class="icon ion-ios-home-outline"></div>
    </div>
    <div class="nav-menu-titles">Splash Screen</div>
</a>
<a class="w-clearfix w-inline-block nav-menu-link" href="login.html" data-load="1">
    <div class="icon-list-menu">
        <div class="icon ion-ios-download-outline"></div>
    </div>
    <div class="nav-menu-titles">Login</div>
</a>
<a class="w-clearfix w-inline-block nav-menu-link" href="signup.html" data-load="1">
    <div class="icon-list-menu">
        <div class="icon ion-ios-cloud-upload-outline"></div>
    </div>
    <div class="nav-menu-titles">Sign Up</div>
</a>
<a class="w-clearfix w-inline-block nav-menu-link" href="forgot.html" data-load="1">
    <div class="icon-list-menu">
        <div class="icon ion-ios-unlocked-outline"></div>
    </div>
    <div class="nav-menu-titles">Remember Password</div>
</a>
<a class="w-clearfix w-inline-block nav-menu-link" href="messages.html" data-load="1">
    <div class="icon-list-menu">
        <div class="icon ion-ios-albums-outline"></div>
    </div>
    <div class="nav-menu-titles">Messages</div>
    <div class="nav-menu-text-right">3</div>
</a>
<a class="w-clearfix w-inline-block nav-menu-link" href="chat.html" data-load="1">
    <div class="icon-list-menu">
        <div class="icon ion-ios-chatboxes-outline"></div>
    </div>
    <div class="nav-menu-titles">Chat</div>
</a>
<a class="w-clearfix w-inline-block nav-menu-link" href="about-us.html" data-load="1">
    <div class="icon-list-menu">
        <div class="icon ion-ios-person-outline"></div>
    </div>
    <div class="nav-menu-titles">About the App</div>
</a>